* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.omot{
    width: 100%;
    height: 700px;

    display: flex;
    flex-direction: column;
}

zaglavlje {
    background-color: lightblue;
    color: white;
    text-align: center;
    padding: 15px;
}

.tekst{
    display: flex;
    flex: 1;
}

aside {
    width: 20%;
    background-color: red;
    padding: 20px;
}

main {
    width: 80%;
    background-color: blue;
    padding: 20px;
}

footer {
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 15px;
}