* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.vanjsko {
    width: 900px;
    height: 700px;

    display: flex;
    flex-direction: column;
}

header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 15px;
}

.tekst {
    display: flex;
    flex: 1;
}

aside {
    width: 20%;
    background-color: yellow;
    padding: 20px;
}

main {
    width: 80%;
    background-color: blue;
    padding: 20px;
}

footer {
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 15px;
}
